:root {
  /* primitives */
  --color-alpha-05: 0.05;
  --color-alpha-10: 0.1;
  --color-alpha-20: 0.2;
  --color-alpha-90: 0.9;
  --color-stone-50: hsl(60, 9%, 98%);
  --color-stone-100: hsl(60, 5%, 96%);
  --color-stone-200: hsl(20, 6%, 90%);
  --color-stone-300: hsl(24, 6%, 83%);
  --color-stone-400: hsl(24, 5%, 64%);
  --color-stone-500: hsl(25, 5%, 45%);
  --color-stone-600: hsl(33, 5%, 32%);
  --color-stone-700: hsl(30, 6%, 25%);
  --color-stone-800: hsl(12, 6%, 15%);
  --color-stone-900: hsl(24, 10%, 10%);
  --color-stone-900-05: hsla(24, 10%, 10%, var(--color-alpha-05));
  --color-stone-900-10: hsla(24, 10%, 10%, var(--color-alpha-10));
  --color-stone-900-20: hsla(24, 10%, 10%, var(--color-alpha-20));
  --color-stone-900-90: hsla(24, 10%, 10%, var(--color-alpha-90));
  --color-stone-950: hsl(20, 14%, 4%);

  --color-indigo-50: hsl(226, 100%, 97%);
  --color-indigo-100: hsl(226, 100%, 94%);
  --color-indigo-200: hsl(228, 96%, 89%);
  --color-indigo-300: hsl(230, 94%, 82%);
  --color-indigo-400: hsl(234, 89%, 74%);
  --color-indigo-500: hsl(239, 84%, 67%);
  --color-indigo-600: hsl(243, 75%, 59%);
  --color-indigo-700: hsl(245, 58%, 51%);
  --color-indigo-800: hsl(244, 55%, 41%);
  --color-indigo-900: hsl(242, 47%, 34%);
  --color-indigo-950: hsl(244, 47%, 20%);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 1.75rem;
  --space-8: 2rem;
  --space-9: 2.25rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-14: 3.5rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;

  /* design system */

  --color-background: var(--color-stone-100);
  --color-background-secondary: var(--color-stone-50);
  --color-foreground: var(--color-stone-900);

  --color-border: var(--color-stone-300);
  --color-link: var(--color-indigo-800);
  --color-link-hover: var(--color-indigo-600);
  --color-overlay: var(--color-stone-900-90);
  --color-shadow: var(--color-stone-900-10);

  --font-sm: 0.85rem;

  --margin-sm: var(--space-6);
  --margin-md: var(--space-10);
  --margin-lg: var(--space-24);

  --padding: var(--space-4);
  --padding-sm: var(--space-2);
  --padding-md: var(--space-6);
  --padding-lg: var(--space-10);

  --radius-sm: var(--space-1);
  --radius: var(--space-2);
  --radius-full: 9999px;

  --shadow: 0 var(--space-1) 8px -4px var(--shadow-color);
  --shadow-outline: 1px solid var(--shadow-color);

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: var(--color-link);
  text-decoration: none;

  &:is(:hover, :active) {
    color: var(--color-link-hover);
  }
}

button,
input,
select {
  border-radius: var(--radius);
  border: 1px solid var(--color-border);
  padding: 0.25rem 0.5rem;
}

input {
  background-color: inherit;
}

label {
  font-size: var(--font-sm);
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);
}
